DOCKER_IMAGE=ghcr.io/janhouse/qbittorrent-dht-proxy

# qBittorrent connection
QBITTORRENT_URL=http://localhost:8080
QBITTORRENT_USERNAME=admin
QBITTORRENT_PASSWORD=adminadmin

# DHT Proxy connection
DHT_PROXY_URL=http://localhost:3000
DHT_PROXY_API_TOKEN=

# Proxy settings
PROXY_PORT=9080
